@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.pln-md
		padding-left: 0
	.prn-md
		padding-right: 0
	.top_cat_list, .type_select h3
		padding: 0 65px
	.top_cat_list
		li
			width: 24%
	.pn-md
		padding: 0
	#sidebarMenu
		// left: -46px
	.sidebarMenuInner
		.inner-list
			width: 630px
	.item_wrap
		padding-bottom: 15px
		padding-top: 15px
	.item_wrap
		.input-number-decrement, .input-number-increment
    	width: 25%
		.input-number
			// width: 40%
			// width: 50%
			width: 42%
		.btn_buy
			padding: 6px 26px
	.s_product
		h1
			margin-bottom: 0.67em
	.prn-md
		padding-right: 0 !important
	.pln-md
		padding-left: 0 !important
	.r_wrap
		.ddb_wrap
			margin-left: 0
			margin-right: 10px
	.street
		text-transform: uppercase
		font-size: 10px
	.top_menu
		.r_info
			text-align: left
	footer
		.f_subscribe
			.input-wrapper
				input
					// width: 189px
					width: 18%
					margin-right: 2%
				.call_to_action
					width: 19%  
					margin-right: 2% //3.5
				.button_form
					width: 15.5%
		.f_bottom
			.f_info:last-child
				margin-bottom: 0
	.s_catalog
		.item_wrap
			padding-top: 14px
			.btn_buy_wrap
				.btn_buy
					margin-top: 0
			h4
				margin-bottom: 10px
				font-size: 14px
				height: 40px
				line-height: 1.2
			.price
				margin-top: 7px
				margin-bottom: 10px
			&.absent, &.coming_soon, &.under_the_order
				padding-bottom: 17px
				h4
					// color: #c6c6c6
					margin-bottom: 10px
					font-size: 14px
					height: 40px
					line-height: 1.2
				.price
					color: #b1b1b1
					margin-top: 0
					// margin-bottom: 0px
					margin-bottom: 0.6px //22
			&.absent
				.message_wrap
					padding-left: 20px
					.message
						line-height: 1
					img
						width: 159px
						height: 34px
			&.coming_soon
				.message_wrap
					padding-left: 20px
					.message
						line-height: 1
					img
						width: 133px
						height: 29px
						// margin-bottom: 20px
						margin-top: 13px
						margin-bottom: 21.2px //22
	.s_catalog
		.item_wrap
			// padding-top: 14px
			h4
				// margin-bottom: 10px
				// font-size: 14px
				// height: 40px
				// line-height: 1.2
			.price
				// margin-top: 7px
				// margin-bottom: 10px
			&.under_the_order
				// padding-right: 0 //22
				.message_wrap
					padding-left: 20px
					.message
						line-height: 1
					img
						width: 123px
						height: 30px
						margin-bottom: 11px
						margin-top: 3px
			&.coming_soon
				.message_wrap
					text-align: center

	// .s_catalog 
	// .cat_row
	// 	display: flex
	// 	flex-direction: column
	// 	.item_wrap
	// 		padding: 19px 25px
	// 		// min-height: 170px
	// 		height: 235px
	// 		line-height: normal
	.s_catalog
		.cat_row
			// display: flex
			// flex-direction: column
			.item_wrap
				padding-top: 14px
				// height: 172px
				line-height: normal
				.itm_artic_wrap
					margin-bottom: 9px
				h4
					margin-bottom: 10px
					font-size: 14px
					height: auto
					line-height: 1.2
				.price
					margin-top: 7px
					margin-bottom: 10px
				&.absent, &.coming_soon, &.under_the_order
					padding-bottom: 17px
					h4
						// color: #c6c6c6
						margin-bottom: 10px
						font-size: 14px
						height: auto !important
						line-height: 1.2
					.price
						color: #b1b1b1
						margin-top: 0
						margin-bottom: 0px
				&.under_the_order
					.message_wrap
						padding-left: 0
					.order_btn
						width: 100%
					.message_wrap
						img
							// width: 166px
							width: 149.4px
							// height: 40px
							height: 36px
							margin-bottom: 5px
							h4
								margin-bottom: 0
				&.absent
					.message_wrap
						padding-left: 20px
						.message
							line-height: 1
						img
							width: 228px
							height: 39px
							margin-top: 30px
							margin-bottom: 5px
				&.coming_soon
					.message_wrap
						padding-left: 20px
						.message
							line-height: 1
						img
							width: 222px
							height: 47px
							margin-bottom: 20px
							margin-top: 24px
					.retail_price
						// display: none
	/*Cart*/
	.cart
		.wrap_cart
			.cart_list_wrap
				.cart_item
					.input-number
						width: 62px
.form_order
	.form_wrap
		form
			padding: 45px 25px

		


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	// .filter_btn_wrap
	// 	display: flex
	// 	justify-content: flex-start
	// 	align-items: center
	// 	padding: 12.2px 0
	.sb_price
		.sb_block_name
			&::after
				display: none
	.slide_mobile_filters
		position: fixed
		left: 0
		top: 0
		background-color: #ffffff
		z-index: 9999
		transition: .3s ease
		opacity: 0
		transform: translateX(-320px)
		// &.f_position
		// 	transform: translateX(-320px)
		// 	transition: .3s ease
		&.f_active_pos
			transform: translateX(0px) !important
			transition: .3s ease
			opacity: 1
		.sidebar
			// padding-top: 74px
			position: relative
			.sb_price
				padding: 50px 20px 0
			svg
				position: absolute
				top: 30px
				right: 30px
				cursor: pointer
	.s_catalog
		h1.cat_name
			padding-left: 15px
			margin-top: 20px
	.pln-before992
		padding-left: 0
	.s_catalog
		h1.cat_name
			display: inline-block
		.cat_info
				margin-left: 10px
				display: inline-block
	.filter_btn_wrap
		// padding: 15px 0 21px
		padding: 13px 0 23px
		
		// margin-bottom: 0
	.s_catalog
		.grid_type_select
			// padding: 47px 0 25px не
			padding: 32px 0 30px
	.select
		height: 53px
		&::after
			line-height: 2.5
	.s_action
		margin-bottom: 10px
	// .sidebar
	// 	display: none
	.sidebarMenuInner
		li
			&.sub-item, #back_btn_mnu
				border-bottom: 1px solid #f6f6f8
	.sidebarMenuInner
		.main-item
			position: relative
		.inner-list
			width: 406px
			font-size: 0
			.sub-item
				width: 100%
				text-align: left
				// padding: 13.48px 0 13.48px 15px
				padding: 0
				// outline: 1px solid #000
				height: 48px
				display: flex
				align-items: center
				a
					display: flex
					align-items: center
				p
					border: none
					// padding: 13px 0 14.96px
					display: inline-block
					width: 90%
					padding-left: 0
				// span
				// 	padding: 0px 0 0px 15px
				.img_wrap
					display: inline-block
					margin-bottom: 0
					width: 10%
					margin-left: 13px
					margin-right: 15px
					// padding-bottom: 12px
					// display: none
					img
						display: inline-block
						width: 26px
						height: 22px
						margin-bottom: 3px
	.hide_mnu_item
		display: none !important
	.btn_buy
		width: 100%
	.ml_center
		margin-top: 40px
	/*Проверить*/
	.pn-sm-l
		padding-left: 0 !important
	.pn-sm-r
		padding-right: 0

	/*------------*/
	.item_wrap 
		.btn_buy_wrap
			padding-left: 15px
			.btn_buy
				padding: 6px 26px
				margin-top: 15px
				width: 100%
	.item_wrap
		padding-bottom: 15px
		padding-top: 15px
	// .pl-none
		// padding-left: 0
	.item_wrap
		.input-number-decrement, .input-number-increment
    	width: 25%
		.input-number
			width: 50%
		.btn_buy
			padding: 6px 26px
		.btn_buy_wrap
			// padding-left: 0
			// padding-right: 15px
			.btn_buy
				// margin-top: 0
	.advantages
		.img_wrap
			height: 70px
	footer
		.f_subscribe
			.input-wrapper
				.call_to_action
					display: block
					width: 100%
				input
					width: 23%
				.button_form
					width: 20%
	.s_catalog
		.grid
			.item_wrap
				&.absent
					.price
						margin-bottom: 0
						// margin-top: 7px
						margin-top: 5.2px
						.old_price
							margin-bottom: 7.8px
				// &.under_the_oder

	.s_catalog
		.item_wrap
			padding-top: 14px
			.btn_buy_wrap
				margin-top: 0
				// padding-left: 0
				.btn_buy
					// margin-top: 0
			h4
				margin-bottom: 10px
				font-size: 14px
				height: 80px
				line-height: 1.2
				margin-top: 10px
			.price
				margin-bottom: 0px
			&.absent, &.coming_soon, &.under_the_order
				padding-bottom: 17px
				h4
					// color: #c6c6c6
					font-size: 14px
					height: 80px
					line-height: 1.2
				.price
					color: #b1b1b1
					margin-bottom: 13px
			&.absent	
				.message_wrap
					padding-left: 20px
					text-align: center
					.message
						line-height: 1
						display: inline
					img
						width: 159px
						height: 24px
						margin-bottom: 20px
						display: block
			&.coming_soon
				.message_wrap
					img
						width: 133px
						height: 29px
						// margin-bottom: 30px
						margin-bottom: 44px
						// margin-top: 26px
						margin-top: 35px
			&.under_the_order
				.message_wrap
					img
						width: 123px
						height: 30px
						// margin-bottom: 32px
						margin-bottom: 45px
						// margin-top: 28px
						margin-top: 38px
	
	.s_catalog
		.grid
			.item_wrap
				.btn_buy_wrap
					.btn_buy
						margin-top: 15px

	.s_catalog
		.cat_row
			.item_wrap
				padding-top: 14px
				.btn_buy_wrap
					margin-top: 0
					// padding-left: 0
					.btn_buy
						// margin-top: 0
				h4
					margin-bottom: 10px
					font-size: 14px
					line-height: 1.2
					margin-top: 10px
				.price
					margin-bottom: 0px
				&.absent, &.coming_soon, &.under_the_order
					padding-bottom: 17px
					h4
						// color: #c6c6c6
						font-size: 14px
						height: 80px
						line-height: 1.2
					.price
						color: #b1b1b1
						margin-bottom: 13px
				&.absent	
					.message_wrap
						padding-left: 20px
						text-align: left
						.message
							line-height: 1
							display: inline
						img
							width: 228px
							height: 39px
							// margin-bottom: 20px
							display: block
				&.coming_soon
					.message_wrap
						img
							width: 201.4px
							height: 42.1px
							margin-bottom: 5px
							// margin-top: 26px
				&.under_the_order
					padding-right: 20px
					.message_wrap
						img
							width: 166px
							height: 40px
							margin-top: 0
							// margin-bottom: 32px
							// margin-top: 28px
	/*Cart*/
	.cart
		.pn-sm
			padding-right: 0
			padding-left: 0
		.wrap_cart
			.cart_list_wrap
				.cart_item
					max-height: 91px
					img
						margin-left: 5px
					.input-number
						width: 55px
	.cart
		.wrap_cart
			width: 95%
		.item-test
			padding: 10px 30px 10px 20px
			// display: flex
			// background-color: rgba(216, 216, 216, .15)
			height: 91px
			// justify-content: flex-start
			// align-items: center
			.wrap_img
				// padding-right: 15px
				width: 9%
			.wrap_name
				width: 45%
				// padding-left: 15px
				a.name_item
					// color: #424242
					// font-family: 'Source Sans Pro'
					// line-height: 1.1
					// display: inline-block
					// font-weight: 400
					// font-size: 16px
			.wrap_counter
				width: 18%
				padding-left: 5px
				.input-number-decrement,.input-number-increment
					// line-height: 42px
					// height: 42px
					width: 25%
					// background-color: #fff
				.input-number
					// height: 42px
					width: 50%
				.cw_inner
					position: relative
					.limit
						background-color: #ff523d
						color: #fff
						font-size: 12px
						padding: 6px 13px
						line-height: 1.05
						position: absolute
						top: 10px
						left: 0
						display: none
			.wrap_price_pi
				width: 17%
				padding-left: 15px
				padding-right: 10px
				display: none
				.price_per_item
					//
			.wrap_total
				// width: 15%
				width: 28%
				padding-left: 30px
			.wrap_delete
				width: 13%
				padding-left: 33px
				.delete
					// color: #ff523d



/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	// .slide_mobile_filters
	// 	position: absolute
	// 	left: 0
	// 	top: 0
	// 	background-color: #ffffff
	// 	z-index: 9999
		// .sidebar
		// 	padding-top: 74px
		// 	position: relative
		// 	svg
		// 		position: absolute
		// 		top: 30px
		// 		right: 30px
			.sb_price
				border-top: none
	.prn__sm
		padding-right: 0
	.type_select h3
		padding: 0
	.top_cat_list
		li
			width: 100%
			border: 1px solid #f0f0f0
			padding: 0
			.type-item
				display: flex
				align-items: center
				p
					margin-bottom: 0
				.img_wrap
					width: 26px
					height: 22px
					margin: 13px
					img
						width: 100%
						height: 100%
	.block_products
		margin-top: 10px
	.filter_btn
		width: 100%
	// .s_catalog
	// 	h1.cat_name
	// 		padding-left: 15px
	// 		margin-top: 20px
	// .s_catalog
	// 	.sort_wrap
	// 		padding: 15px
	.filter_btn_wrap
		display: flex
		justify-content: flex-start
		align-items: center
		padding: 12.2px 0
		// margin-bottom: 10px
	.pnl-sm
		padding-left: 0
	.pnr-sm
		padding-right: 0
	section.s_seo
		p
			line-height: 1.36
	.seo_img_wrap
		img
			// width: 100%
			// height: 100%
	.filter_btn
		display: block
	// .s_catalog
	// 	.grid_type_select
	// 		// padding: 38.8px 0 17.8px
	// 		padding: 44px 0 24px
	// .sidebar
		// display: none
	.sort_wrap
		display: inline-block
	.cat_name
		display: inline-block
		// margin-right: 15px
	.cat_info
		display: inline-block
	.type_select
		h3
			margin-left: 15px
	.top_cat_list
		padding: 0 15px
		// li
		// 	width: 33%
	#sidebarMenu
		&.slide-mm
			left: calc(-100vw - 15px)
	.sidebarMenuInner
		width: 100vw
		.inner-list
			.sub-item:first-child
				p
					padding-left: 50px
	.sidebarMenuInner
		// width: 100vw
		li
			&.sub-item, #back_btn_mnu
				// border-bottom: 1px solid #f6f6f8
				&.back_btn_mnu
					a
						color: $green
	.sidebarMenuInner
		// width: 100vw
		.main-item
			position: static
	#sidebarMenu
		// left: -15px !important
		&.slide-mm
			// left: -349px
			// left: -100vw
	.sidebarMenuInner
		.inner-list
			width: 100vw
	.inner-list
		li.sub-item
			border: 1px solid #f0f0f0
			// outline-offset: 1px
		.back_btn_mnu
			a
				width: 100%
	.r_wrap
		text-align: right
	.simp_price
		margin-top: 13px
	.xs_header1
		margin-left: 18px
	.hide_mnu_item_sm
		display: none
	.ml_center
		text-align: center
		margin-top: 0px
	footer
		padding-bottom: 0
		.header_slide_inside
			padding: 7px 15px 7px
		.detail
			border-top: 1px solid rgba(36,41,54, .2)
		.f_bottom
			padding-top: 0
			.price_list
				padding-bottom: 10px
			.f_menu_list
				margin-top: 0
		.f_subscribe
			// padding-top: 17px
			// padding-bottom: 25px
			padding: 0
			border: none
			.input-wrapper
				text-align: center
				.call_to_action
					margin-bottom: 29px
					float: left
					margin-right: 0
				input
					// margin-bottom: 22px
					margin-right: 0
					display: block
					margin: 22px auto
					width: 232px
				.button_form
					text-transform: uppercase
					width: 232px
					margin-bottom: 30px
	.header_slide, .header_slide_inside
		width: 100%
		position: relative
		&::after
			display: inline-block
	/**/
	.detail
  	max-height: 1200px
  	opacity: 1
  	overflow: hidden
  	transition: all 400ms ease-out
  	width: 100%
  	&.closed
  	  max-height: 0
  	  opacity: 0
  	  transition: all 400ms ease-out
	#xs_logo
		display: none !important
	// .s_recommend
	section
		.item_wrap 
			.prn-md
				padding-right: 15px !important
	.item_wrap
		.price
			margin-bottom: -5px
			.old_price
				margin-bottom: 10px
		.counter_wrap
			padding: 0
		.input-number-decrement, .input-number-increment
    	width: 25%
		.input-number
			width: 50% !important
	.s_product
		.input_number_wrap
			margin-bottom: 41px

	// .s_catalog
	// 	.item_wrap
	// 		// padding-top: 15px
	// 		// padding-bottom: 15px
	// 		.price
	// 			margin-bottom: -5px
	// 		.old_price
	// 			// margin-bottom: 9px
	// 		.btn_buy_wrap
	// 			.btn_buy
	// 				// margin-top: 11px
	// 		.itm_img_wrap
	// 			// margin-top: 10px 
	// 			// margin-top: 0px 
	// 		h4
	// 			// line-height: 1.43
	// 			// line-height: normal
	// 			height: 60px
	// 		&.absent
	// 			// padding-top: 15px
	// 			padding-bottom: 22px
	// 			h4
	// 				// line-height: 1.43
	// 				// height: 100px
	// 				// margin-top: 11px
	// 			.price
	// 				margin-top: 10px
	// 				margin-bottom: 15px
	// 				// margin-bottom: 12.1px
	// // 				margin-bottom: 17.1px
	// // 			.message_wrap
	// // 				// padding-left: 15px
	// // 				img
	// // 					width: 125px
	// // 					height: 19px
	// // 					// margin-bottom: 11px
	// // 					margin-bottom: 15.11px
	.s_catalog
		.item_wrap
			padding-top: 14px
			.btn_buy_wrap
				margin-top: 0
				// padding-left: 0
				.btn_buy
					// margin-top: 0
			h4
				margin-bottom: 10px
				font-size: 14px
				height: 60px
				line-height: 1.2
				margin-top: 10px
			.price
				margin-bottom: 0px
				margin-top: 0
			&.absent, &.coming_soon, &.under_the_order
				padding-bottom: 17px
				h4
					// color: #c6c6c6
					font-size: 14px
					height: 80px
					line-height: 1.2
				.price
					color: #b1b1b1
					margin-bottom: 19px
				.message_wrap
					padding-left: 20px
					text-align: center
					.message
						line-height: 1
						display: inline
						height: 47px
			&.absent
				.message_wrap
					height: 90px
					img
						width: 159px
						height: 24px
						margin-bottom: 20px
						// display: block
			&.coming_soon
				padding-bottom: 40px
				.message_wrap
					// height: 137px

					img
						width: 133px
						height: 29px
						margin-bottom: 52px
						margin-top: 10px
						display: block
			&.under_the_order
				padding-bottom: 15px
				.message_wrap
					// height: 137px
					.btn_buy_wrap
						// padding-right: 0
					img
						width: 145px
						height: 36px
						margin-bottom: 52px
						margin-top: 10px
						display: block
	.s_catalog 
		.cat_row
			display: flex
			flex-direction: column
			.item_wrap
				padding: 19px 25px
				// min-height: 170px
				// height: 235px 
				line-height: normal
				.itm_artic_wrap
					// margin-bottom: 19px
					h4
						margin-bottom: 20px
						font-size: 18px
						font-weight: 400
				.inner_wrap
						padding-top: 0
						.limit
							margin-bottom: 15px
							.hidd_mobile
								display: none
				&.under_the_order
					h4
						margin-bottom: 20px
						font-size: 18px
						font-weight: 400
					.btn_buy_wrap
						// padding-left: 15px
						.btn_buy
							width: 70%
					.price
						display: none
					.limit
						display: none
					.message_wrap
						margin-bottom: 13px
				.old_price
					display: none !important
				.retail_price
					display: none //2
				.inner_wrap
					text-align: center
					padding-top: 0
				.ost
					display: none
				&.absent
					h4
						margin-bottom: 20px
						font-size: 18px
						font-weight: 400
					.custom_hidden_sm
						margin-top: 30px
						text-align: center
						height: auto
						img
							display: none
					.message_wrap.mobile_mess
						margin-top: 0
						padding-left: 0
						height: auto
						img
							margin-top: 0
							// margin-left: 45%
							width: 227px
							height: 35px
				&.coming_soon
					h4
						margin-bottom: 20px
						font-size: 18px
						font-weight: 400
						color: #424242
					.message_wrap.custom_hidden_sm
						margin-top: 35px
						text-align: center
						height: auto
						img
							display: none
					.message_wrap.mobile_mess
						margin-top: 0
						padding-left: 0
						height: auto
						img
							margin-top: 25px
							// margin-left: 45%
							margin-left: 0
							width: 220px
							height: 39px
	/*Cart*/
	.cart
		.pn-sm
			padding-right: 0
			padding-left: 0
		.wrap_cart
			.cart_btn_wrap
					padding-right: 0
					padding-left: 0
					&>div
						&>div:first-child
							button
								margin-bottom: 10px
	/*Flex cart*/
	.cart
		.wrap_cart
			width: 98%
			.header_cart
				padding-right: 20px
				padding-left: 15px
		.item-test
			// padding: 10px 30px 10px 20px
			padding: 10px 15px
			// display: flex
			// background-color: rgba(216, 216, 216, .15)
			height: 144px
			// justify-content: flex-start
			// align-items: center
			flex-wrap: wrap
			.wrap_img
				// padding-right: 15px
				width: 14%
			.wrap_name
				width: 86%
				// padding-left: 15px
				a.name_item
					// color: #424242
					// font-family: 'Source Sans Pro'
					// line-height: 1.1
					// display: inline-block
					// font-weight: 400
					// font-size: 16px
			.wrap_counter
				width: 50%
				padding-left: 0px
				// padding-right: 20px
				padding-right: 17%
				.input-number-decrement,.input-number-increment
					// line-height: 42px
					// height: 42px
					width: 25%
					// background-color: #fff
				.input-number
					// height: 42px
					width: 50%
				.cw_inner
					position: relative
					.limit
						background-color: #ff523d
						color: #fff
						font-size: 12px
						padding: 6px 13px
						line-height: 1.05
						position: absolute
						top: 10px
						left: 0
						display: none
			.wrap_price_pi
				width: 17%
				padding-left: 15px
				padding-right: 10px
				display: none
				.price_per_item
					//
			.wrap_total
				// width: 15%
				width: 50%
				padding-left: 10px
			.wrap_mob
				width: 80%
				// outline: 1px solid #f00
				display: flex
				flex-wrap: wrap
			.wrap_delete
				width: 20%
				padding-left: 13px
				.delete
					color: #ff523d
					cursor: pointer
.form_order
	.form_wrap
		.bottom_line
			text-align: center

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	// .top_cat_list
	// 	li
	// 		width: 100%
	// 		outline: 1px solid #ccc
	// 		padding: 0
	// 		.type-item
	// 			display: flex
	// 			align-items: center
	// 			p
	// 				margin-bottom: 0
	// 			.img_wrap
	// 				width: 26px
	// 				height: 22px
	// 				margin: 13px
	// 				img
	// 					width: 100%
	// 					height: 100%
	.top_cat_list
		padding: 0
	.s_catalog
		.cat_info
			padding-left: 15px
	.s_catalog 
		.grid_type_select
			// padding: 44px 0 24px
			svg
				width: 26px
				height: 21px
		.sort_wrap
			// padding-left: 15px
			.s_action
				font-size: 12px
				display: block
				margin-bottom: 10px
			.select
				width: 212px
	// .filter_btn
	// 	width: 100%
	.prn-xs
		padding-right: 0
	#sidebarMenu
		&.slide-mm
			left: calc(-100vw)
	.sidebarMenuInner
		// width: 320px
		li
			&.sub-item, #back_btn_mnu
				border-bottom: 1px solid #f6f6f8
				&.back_btn_mnu
					a
						color: $green
			a
				&:active
				//  #sidebarMenu
				// 	 left: 0
			p
				width: calc(100% - 43px)
			padding-left: 19px
			.icon_mnu_wrap
				display: none
	#sidebarMenu
		&.slide-mm
			// left: -349px
			// left: -100vw
	.inner-list
		.back_btn_mnu
			a
				width: 100%
	.sidebarMenuInner
		width: 100vw
		.inner-list
			.sub-item:first-child
				p
					padding-left: 50px
		.main-item
			position: static
	.cpn-xs
		padding: 0
	.col-plrn-xs
		padding-right: 0
		padding-left: 0
	.r_wrap
		text-align: right
		.ddb_wrap
			margin-right: 5px
			margin-left: 0
	.top_menu
		.r_info
			text-align: left
	.large_logo
		width: 100%
	.street
		text-transform: uppercase
		font-size: 10px
	// .r_wrap
	// 	position: relative
	// 	.drop_down_button
	// 		position: absolute
	// 		top: 8px
	// 		left: 25px
	#xs_logo
		display: none !important
	.s_product
		.xs_header1
			margin-left: 18px
			line-height: normal
			letter-spacing: normal
			margin-bottom: 28px
	.preview_wrap
		margin-top: 10px
		.main_img
			height: 249px
			display: none
	.list_img
		padding-left: 30px
		padding-right: 30px		
		.small_img,  .video_p
			height: 249px
		.video_p
			img
				width: 40%
				margin-top: 78px
	.ml_center
		text-align: center
	.simp_price
		margin-top: 13px
	.s_product
		.limit
			margin-bottom: 4px
	.s_product
		.retail_price
			.price
				font-size: 18px
				margin-bottom: 5px
	.legend
		width: 198px
		display: inline-block
		text-align: left
	.input_number_wrap
		margin-top: 5px
	.s_product
		.btn_buy
			// margin-top: 45px
			width: 100%
	.articul-wrap
		margin-top: 41px
	/*footer*/
	footer
		padding-bottom: 0
		.header_slide_inside
			padding: 7px 15px 7px
		.detail
			border-top: 1px solid rgba(36,41,54, .2)
		.f_bottom
			padding-top: 0
			.price_list
				padding-bottom: 10px
			.f_menu_list
				margin-top: 0
		.f_subscribe
			// padding-top: 17px
			// padding-bottom: 25px
			padding: 0
			border: none
			.input-wrapper
				text-align: center
				.call_to_action
					margin-bottom: 29px
					float: left
					margin-right: 0
				input
					// margin-bottom: 22px
					margin-right: 0
					display: block
					margin: 22px auto
				button
					text-transform: uppercase
					width: 232px
					margin-bottom: 30px
	.header_slide, .header_slide_inside
		width: 100%
		position: relative
		&::after
			display: inline-block
	/*Slide-down-more-less*/
	// .detail
  // 	max-height: 1200px
  // 	opacity: 1
  // 	overflow: hidden
  // 	transition: all 400ms ease-out
  // 	width: 100%
  // 	&.closed
  // 	  max-height: 0
  // 	  opacity: 0
  // 	  transition: all 400ms ease-out
	.item_wrap
		.btn_buy_wrap
			padding-left: 15px
			margin-top: 15px
			// float: right
		.btn_buy
			width: 100%
	.item_wrap
		.input-number
			// max-width: 114px
			// margin-bottom: 15px
			// width: 100%
		.counter_wrap
			// display: inline-block
			// min-width: 123px
			// padding-left: 10px
			// padding-right: 15px
			border: 1px #ccc solid
			text-align: center
			.cw_inner
				display: inline-block
				.input-number-decrement, 
				.input-number,
				.input-number-increment
					border: none
				.input-number
					margin-bottom: 0
	/*menu*/

		/**/
	.pr-nr
		padding-right: 0 !important
	.pl-nl
		padding-left: 0 !important
	.s_catalog
		.item_wrap
			h4
				height: 80px
			.price
				// margin-top: 10px
				margin-bottom: -7px
				.old_price
					margin-bottom: 17px
			&.absent, &.coming_soon, &.under_the_order
				padding-bottom: 30px
				h4
					height: 80px
				.price
					margin-top: 10px
					margin-bottom: 16px
			&.absent	
				.message_wrap
					margin-top: 10px
					padding-left: 15px
					height: 82px
					img
						width: 139px
						height: 24px
			&.coming_soon	
				.message_wrap
					margin-top: 9px
					padding-left: 15px
					height: 137px
					img
						margin-top: 10px
						margin-bottom: 60px
						width: 132px
						// height: 29px
			&.under_the_order
				.message_wrap
					margin-top: 9px
					padding-left: 15px
					height: auto
					img
						margin-top: 10px
						margin-bottom: 50px
						width: 145px
						height: 36px
	.s_catalog 
		.cat_row
			.item_wrap
				.itm_artic_wrap
					margin-bottom: 0
				.limit
					text-align: left
					padding-left: 46%
				h4
					margin-bottom: 5px
					font-size: 18px
					font-weight: 400
					margin-top: 5px
				.price
					margin-top: 17px
				.btn_buy_wrap 
					padding-right: 0
					.btn_buy
						margin-top: 0
				&.under_the_order, &.coming_soon, &.absent
					h4
						font-size: 18px
				&.absent
					.custom_hidden_sm
						margin-top: 30px
						text-align: center
						height: auto
						img
							display: none
					.message_wrap.mobile_mess
						margin-top: 0
						padding-left: 0
						height: auto
						img
							margin-top: 0
							// margin-left: 45%
							// width: 205.2px
							// height: 35.1px
							width: 100%
							height: auto
				&.coming_soon
					.message_wrap.custom_hidden_sm
						margin-top: 35px
						text-align: center
						height: auto
						img
							display: none
					.message_wrap.mobile_mess
						margin-top: 0
						padding-left: 0
						height: auto
						img
							margin-top: 23px
							// margin-left: 45%
							margin-left: 0
							// width: 147px
							// height: 31px
							width: 100%
							height: auto
				&.coming_soon
					.message_wrap
						margin-top: 0
						height: auto
						img
							width: 147px
							height: 31px
							// margin-top: 0
							margin-left: 45%
				&.under_the_order
					padding-top: 16px
					h4
						margin-bottom: 0
					.price, .limit
						display: none
					.message_wrap
						margin-bottom: 13px
					.btn_buy
						width: 70%
				.inner_wrap
					padding-top: 0
					.limit
						margin-bottom: 15px
						.hidd_mobile
							display: none
				&.under_the_order
					.message_wrap
						margin-bottom: 33px
						img
							margin-top: 15px
							width: 100%
							height: auto
							// width: 164px
							// height: 34px
						.ord_text
							display: none
	/*Cart*/
	.cart
		.pn-xs
			padding-right: 0
			padding-left: 0
		.prn-xs
			padding-right: 0
		.wrap_cart
			.order_info
				margin-right: 15px
				.line
					width: 80%
				.total
					span.cost
						font-size: 21px
			.cart_list_wrap
				.cart_item
					max-height: 144px
					padding-bottom: 13px
			.cart_btn_wrap
				padding-right: 0
				padding-left: 0
				&>div
					&>div:first-child
						button
							margin-bottom: 10px

					.name_item
						padding-left: 15px
					.input-number
						width: 70px
				.delete
					padding-top: 34px
	/*Flex cart*/
	.cart
		.wrap_cart
			.header_cart
				padding-right: 20px
				padding-left: 15px
		.item-test
			// padding: 10px 30px 10px 20px
			padding: 10px 15px
			// display: flex
			// background-color: rgba(216, 216, 216, .15)
			height: 144px
			// justify-content: flex-start
			// align-items: center
			flex-wrap: wrap
			.wrap_img
				// padding-right: 15px
				width: 20%
			.wrap_name
				width: 80%
				// padding-left: 15px
				a.name_item
					// color: #424242
					// font-family: 'Source Sans Pro'
					// line-height: 1.1
					// display: inline-block
					// font-weight: 400
					// font-size: 16px
			.wrap_counter
				width: 50%
				padding-left: 0px
				// padding-right: 20px
				padding-right: 9%
				.input-number-decrement,.input-number-increment
					// line-height: 42px
					// height: 42px
					width: 25%
					// background-color: #fff
				.input-number
					// height: 42px
					width: 50%
				.cw_inner
					position: relative
					.limit
						background-color: #ff523d
						color: #fff
						font-size: 12px
						padding: 6px 13px
						line-height: 1.05
						position: absolute
						top: 10px
						left: 0
						display: none
			.wrap_price_pi
				width: 17%
				padding-left: 15px
				padding-right: 10px
				display: none
				.price_per_item
					//
			.wrap_total
				// width: 15%
				width: 50%
				padding-left: 10px
			.wrap_mob
				width: 80%
				// outline: 1px solid #f00
				display: flex
				flex-wrap: wrap
			.wrap_delete
				width: 20%
				padding-left: 13px
				.delete
					color: #ff523d
					cursor: pointer
	/*checkout*/
	.form_order
		.form_wrap
			form
				padding: 20px 20px
			.element_wrap
				display: flex
				flex-direction: column

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	// #sidebarMenu
	// 	&.slide-mm
	// 		left: calc(-100vw)
	// .s_catalog
	// 	.cat_info
	// 		padding-left: 15px
	.sidebar 
		// width: calc(100% - 13px)
	#sidebarMenu
		// margin-top: 36px
		left: 0
	.sidebarMenuInner
		.back_btn_mnu
			// display: block
			// width: 320px
			color: $green
		.inner-list
			width: 320px
			.sub-item
				text-align: left
				// padding-left: 13px
				img
					margin-bottom: 0
					margin-right: 15px
	// #sidebarMenu
	// 	left: -29px
		// margin-top: 36px
	// #back_btn_mnu
	// 	a
	// 		&::after
	// 			font-family: "Font Awesome 5 Free"
	// 			font-weight: 600
	// 			content: '\f105'
	// 			font-size: 20px
	// 			color: #5acf3c
	// 			position: absolute
	// 			right: 0px
	// 			top: 0px
	#sidebarMenu
		&.slide-mm
			// left: -349px
	.sidebarMenuInner
		width: 320px
		li
			&.sub-item, #back_btn_mnu
				border-bottom: 1px solid #f6f6f8
				&.back_btn_mnu
					a
						color: $green
			a
				&:active
				//  #sidebarMenu
				// 	 left: 0
			p
				width: calc(100% - 43px)
			padding-left: 19px
			.icon_mnu_wrap
				display: none
	.r_wrap
		text-align: right
		.ddb_wrap
			margin-right: 5px
			margin-left: 0
			// margin-right: 10px
			// margin-left: 0
	.pr-nr
		padding-right: 0 !important
	.pl-nl
		padding-left: 0 !important
	.large_logo
		display: none
	.street
		text-transform: uppercase
		font-size: 10px
	.top_menu
		.r_info
			text-align: left
	#xs_logo
		display: block !important
		width: 68px

	.pl-none
		padding-left: 0
	.bred_crambs_list
		padding-left: 0
	/*s_product*/

	.s_product
		.ml_center
			text-align: left
		.xs_header1
			margin-left: 18px
			line-height: normal
			letter-spacing: normal
			margin-bottom: 28px
			margin-top: 10px
	.preview_wrap
		margin-top: 10px
		.main_img
			height: 249px
			display: none
	.simp_price
		margin-bottom: -8px
	.legend
		margin-top: 34px
	.input_number_wrap
		margin-top: 9px
		display: block
		float: left
		.input-number
			width: 102px
	.s_product
		.btn_buy
			// margin-top: 46px
			width: 100%
	.list_img
		padding-left: 15px
		padding-right: 15px		
		.small_img,  .video_p
			height: 249px
			// width: 249px
		.video_p
			// padding-top: 57px
			img
				width: 40%
				margin-top: 78px
			
	.s_product
		.limit
			font-size: 14px
			margin-bottom: 35px
			.amount_lim
				font-size: 20px
	.s_properties
		padding-bottom: 15px
	.bage
		padding: 1px 10px
	.item_wrap
		h4
			margin-bottom: 5px
		.input-number
			width: 63px
			margin-bottom: 15px
		.price
			margin-bottom: -5px
			.old_price
				margin-bottom: 15px

	//--input--number
		.item_wrap
		.input-number
			max-width: 114px
			margin-bottom: 15px
			width: 80%
		.counter_wrap
			// display: inline-block
			// min-width: 123px
			padding-left: 10px
			padding-right: 15px
			border: 1px #ccc solid
			text-align: center
			.cw_inner
				display: inline-block
				.input-number-decrement, 
				.input-number,
				.input-number-increment
					border: none
				.input-number
					margin-bottom: 0
	.s_catalog
		.item_wrap
			padding-top: 21px
			padding-bottom: 19px
			.price
				margin-top: 0
				margin-bottom: -5px
				.old_price
					margin-bottom: 9px
			.btn_buy_wrap
				.btn_buy
					margin-top: 11px
			.itm_img_wrap
				// margin-top: 10px 
				margin-top: 0px 
			h4
				// line-height: 1.43
				line-height: normal
				height: 92px
			&.absent, &.coming_soon, &.under_the_order
				padding-top: 21px
				padding-bottom: 25px
				h4
					line-height: 1.43
					height: 100px
					margin-top: 11px
				.price
					margin-top: 12px
					// margin-bottom: 12.1px
					margin-bottom: 14px
			&.absent	
				.message_wrap
					margin-top: 0
					img
						width: 125px
						height: 19px
						// margin-bottom: 11px
						margin-bottom: 15.11px
			&.coming_soon
				.message_wrap
					margin-top: 0
					img
						margin-top: 23.9px
						width: 130px
						// height: 19px
						margin-bottom: 37.11px
			&.under_the_order
				.message_wrap
					margin-top: 0
					img
						margin-top: 25.9px
						width: 131px
						height: 32px
						margin-bottom: 37.11px
	.s_catalog 
		.cat_row
			.item_wrap
				.itm_artic_wrap
					margin-bottom: 0
				h4
					margin-bottom: 5px
					margin-top: 5px
				.price
					margin-top: 17px
				.limit
					text-align: left
					padding-left: 46%
				&.coming_soon
					.mobile_mess 
						img
							margin-top: 0
				&.under_the_order
					.message_wrap
						margin-bottom: 40px
						img
							margin-top: 23px
							width: 131px
							height: 30px
						.ord_text
							display: none
	.cart, .cart_checkout
		.wrap_cart
			.header_cart
				padding-right: 20px
				padding-left: 15px
			.order_info
				margin-left: 15px
				.line
					width: 100%
				.total
					span.cost
						font-size: 21px
					.t_word
						display: none
		.item-test
			// padding: 10px 30px 10px 20px
			padding: 10px 15px
			// display: flex
			// background-color: rgba(216, 216, 216, .15)
			height: 144px
			// justify-content: flex-start
			// align-items: center
			flex-wrap: wrap
			.wrap_img
				// padding-right: 15px
				width: 20%
			.wrap_name
				width: 80%
				// padding-left: 15px
				a.name_item
					// color: #424242
					// font-family: 'Source Sans Pro'
					// line-height: 1.1
					// display: inline-block
					// font-weight: 400
					// font-size: 16px
			.wrap_counter
				width: 50%
				padding-left: 0px
				padding-right: 0px
				.input-number-decrement,.input-number-increment
					// line-height: 42px
					// height: 42px
					width: 25%
					// background-color: #fff
				.input-number
					// height: 42px
					width: 50%
				.cw_inner
					position: relative
					.limit
						background-color: #ff523d
						color: #fff
						font-size: 12px
						padding: 6px 13px
						line-height: 1.05
						position: absolute
						top: 10px
						left: 0
						display: none
			.wrap_price_pi
				width: 17%
				padding-left: 15px
				padding-right: 10px
				display: none
				.price_per_item
					//
			.wrap_total
				// width: 15%
				width: 50%
				padding-left: 10px
				span
					display: none
			.wrap_mob
				width: 80%
				// outline: 1px solid #f00
				display: flex
				flex-wrap: wrap
			.wrap_delete
				width: 20%
				padding-left: 7px
				.delete
					color: #ff523d

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	.s_catalog
		.grid_type_select
			padding: 48px 0 24px
	#sidebarMenu
		left: 0
	// #sidebarMenu
	// 	&.slide-mm
	// 		left: calc(-100vw - 15px)
	.s_catalog 
		.cat_row
			display: flex
			flex-direction: column
			.item_wrap
				padding: 19px 25px
				// min-height: 170px
				height: 235px 


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	#sidebarMenu
		left: -15px
		&.slide-mm
			left: calc(-100vw - 15px)
	// .mobile_mess
	// 	display: none
	// .sidebarMenuInner
	// 	.inner-list
	// 		.sub-item
	// 			&.back_btn_mnu
	// 				display: none


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	// #sidebarMenu
	// 		&.slide-mm
	// 			left: -24px
	.mobile_mess
		display: none
	.s_catalog
		.grid_type_select
			padding: 32px 0 30px
	.filter_btn_wrap
		// padding: 15px 0 21px
		margin-bottom: 0
	.sort_wrap
		padding: 15px 0
		display: flex
		justify-content: flex-start
		align-items: center
	.sidebarMenuInner
		.inner-list
			.sub-item
				&.back_btn_mnu
					display: none
	#sidebarMenu
		left: -25px
	.s_product
		.input_number_wrap
			.input-number-decrement, .input-number-increment
  			width: 25%
			.input-number
				width: 50%
	footer
		.header_slide, .header_slide_inside
			display: none
			&::after, &::before
				// display: inline-block
				display: none
	.s_catalog 
		.cat_row
			display: flex
			flex-direction: column
			.item_wrap
				padding: 19px 25px
				// min-height: 170px
				height: 172px
				line-height: normal
				&.absent, &.coming_soon
					h4
						font-size: 14px
				&.under_the_order
					h4
						font-size: 14px
						margin-bottom: 10px
					.price
						display: none


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	// #sidebarMenu
	// 	left: -30px
	.auth-block
		a
			i
				margin-right: 13px
	.sidebar
		padding-top: 0
		svg
			display: none


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	.lgup-pl-pr-n
		padding-right: 0
		padding-left: 0
	.s_catalog
		.item_wrap
			padding-top: 30px
			h4
				margin-bottom: 10px
				margin-top: 10px
				font-size: 14px
				height: 40px
				line-height: 1.2
			.price
				margin-bottom: 14px
			&.absent, &.coming_soon, &.under_the_order
				padding-bottom: 17px
				h4
					// color: #c6c6c6
					margin-bottom: 10px
					font-size: 14px
					height: 40px
					line-height: 1.2
				.price
					color: #b1b1b1
					margin-bottom: 5.6px
			&.absent
				.message_wrap
					padding-left: 20px
					.message
						line-height: 1
						display: inline-block
					img
						width: 159px
						height: 34px
						margin-bottom: 6px
			&.coming_soon
				.message_wrap
					img
						width: 193px
						height: 41px
						margin-bottom: 19px
						margin-top: 8px
			&.under_the_order
				.message_wrap
					img
						width: 164px
						// height: 34px
						margin-bottom: 15px
						margin-top: 1px
	.s_catalog
		.cat_row
			.item_wrap
				// padding-top: 30px
				h4
					margin-bottom: 5px
					margin-top: 10px
					font-size: 14px
					height: auto
					line-height: 1.2
					color: #424242
				.price
					margin-bottom: 9px
				&.coming_soon
					h4
						// color: #c6c6c6
						margin-bottom: 10px
						font-size: 14px
						height: auto
						line-height: 1.2
					.price
						color: #b1b1b1
						margin-bottom: 5px
				&.absent, &.coming_soon, &.under_the_order
					padding-bottom: 17px
					.price
						color: #b1b1b1
						margin-bottom: 5px
				&.absent
					padding-top: 20px
					h4
						margin-bottom: 5px
					.price
						margin-bottom: 10px
					.message_wrap
						padding-left: 20px
						padding-top: 34px
						.message
							line-height: 1
							display: inline-block
						img
							width: 228px
							height: 39px
							margin-bottom: 7px
				&.coming_soon
					.retail_price
						// display: none  //1
					.message_wrap
						padding-top: 11px
						img
							width: 224px
							height: 47px
							margin-bottom: 19px
							margin-top: 8px
				&.under_the_order
					padding-top: 20px
					h4
						margin-bottom: 9px
					.itm_artic_wrap
						margin-bottom: 9px
					.message_wrap
						text-align: left
						padding-left: 0
						img
							width: 164px
							// height: 34px
							margin-bottom: 5px
							margin-top: 1px

	// .s_catalog
	// 	.item_wrap
	// 		h4, .price, .counter_wrap
	// 			padding-left: 15px
	// 		.btn_buy_wrap
	// 			padding-right: 30px
	.pn-lg-left
		padding-left: 0
	.pr-lg-right
		padding-right: 0
	#sidebarMenu
		left: 10px
	.r_wrap
		.ddb_wrap
			display: none
	.item_wrap
		.input-number-decrement, .input-number-increment
    	width: 25%
		.input-number
			// width: 40%
			width: 42%
			// width: 50%
		.btn_buy
			padding: 6px 26px
			width: 100%

